   <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="m-0 text-center">Copyright &copy;  To Do List 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
